.recomment-weapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    .recomment-welcome{
        height: 17%;
        display: flex;
        padding: 10px 10px 6px 10px;
        align-items: center;
        background-color: #ffffff;
        border-radius: 10px 10px 0 0;
        .recomment-welcome-left{
            color: rgba(0, 0, 0, 0.8);
            font-weight: bold;
            margin-left: 10px;
            margin-top: 5px;
        }
        .recomment-welcome-right{
            display: flex;
            font-size: 12px;
            justify-content: flex-end;
            align-items: center;
            flex: 1;
            color: #808590;
            .more{
                margin-right: 10px;
                font-weight: bold;
            }
            .anticon{
                margin-right: 10px;
            }
        }
    }
    .carousel-wrapper{
        height: 83%;
        border-radius: 0 0 10px 10px;
        padding: 0 8px 0 8px;
        background-color: #ffffff;
        padding-top: 4px;
        .ant-carousel{
            padding: 0px 15px;
            .slick-list{
                padding-bottom: 15px;
            }
            .slick-dots{
                position: static;
                .slick-active{
                    button{
                        background-color: #0681f9;
                    }
                }
                button{
                    background-color: #d3d4d5;
                }
            }
            
        }
        .carousel-button-left{
                position: absolute;
                top: 48%;
            }
            .carousel-button-right{
                position: absolute;
                top: 48%;
                right: 8px;
            }
    }
        
}